<div class="container">
	<h2>Information for {{ selectedAirport.airportName }} ({{ selectedAirport.icaoCode }})</h2>
	
	<br />
	<a href="#">Home</a>
	
	<br /><br />
	<table>
		<tr>
			<td>City:</td>
			<td>{{ selectedAirport.city }}</td>
		</tr>
		<tr>
			<td>Country:</td>
			<td>{{ selectedAirport.country }}</td>
		</tr>
		<tr>
			<td>Latitude:</td>
			<td>{{ selectedAirport.latitude }}</td>
		</tr>
		<tr>
			<td>Longitude:</td>
			<td>{{ selectedAirport.longitude }}</td>
		</tr>
		<tr>
			<td>Altitude:</td>
			<td>{{ selectedAirport.altitude }}</td>
		</tr>
	</table>
	
	<br /><br />

	<table>
		<tr>
			<td>Time:</td>
			<td>{{ report.time }}</td>
		</tr>
		<tr>
			<td>Flight Rules:</td>
			<td>{{ report.flightRules }}</td>
		</tr>
		<tr>
			<td>Wind:</td>
			<td>{{ report.Translations.Wind }}</td>
		</tr>
		<tr>
			<td>Clouds:</td>
			<td>{{ report.Translations.Clouds }}</td>
		</tr>
		<tr>
			<td>Temperature:</td>
			<td>{{ report.Translations.Temperature }}</td>
		</tr>
		<tr>
			<td>Dewpoint:</td>
			<td>{{ report.Translations.Dewpoint }}</td>
		</tr>
		<tr>
			<td>Visibility:</td>
			<td>{{ report.Translations.Visibility }}</td>
		</tr>
		<tr>
			<td>Other:</td>
			<td>{{ report.Translations.Other }}</td>
		</tr>
	</table>

	<br /><br />

	<table>
		<tr>
			<td>Forecast Taken At:</td>
			<td>{{ forecast.Time }}</td>
		</tr>
	</table>
	<table ng-repeat="forecastEntry in forecast.Forecast | orderBy: 'forecastEntry.Start-Time' ">
		<tr>
			<td>From:</td>
			<td>{{ forecastEntry.Start-Time }}</td>
		</tr>
		<tr>
			<td>To:</td>
			<td>{{ forecastEntry.End-Time }}</td>
		</tr>
		<tr>
			<td>Flight Rules:</td>
			<td>{{ forecastEntry.Flight-Rules }}</td>
		</tr>
		<tr>
			<td>From:</td>
			<td>{{ forecastEntry.Summary }}</td>
		</tr>
	</table>
</div>