<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" href="/">
				<i class="fa fa-plane"></i> <span class="light">Angular Airports</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a data-target="#page-top"></a>
				</li>
				<li>
					<a class="page-scroll" data-target="#details">Details</a>
				</li>
				<li>
					<a class="page-scroll" data-target="#weather">Weather</a>
				</li>
				<li>
					<a class="page-scroll" data-target="#charts">Charts</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Intro Header -->
<header class="intro">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h4 class="brand-heading">{{ airport.airportName }}</h4>
					<p class="intro-text">A free, responsive, one page Bootstrap theme.
						<br>Created by Start Bootstrap.</p>
					<a data-target="#details" class="btn btn-circle page-scroll">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Details Section -->
<section id="details" class="container content-section text-center">
	<div class="col-md">
		<p>Airport details go here</p>
	</div>
</section>

<!-- Weather Section -->
<section id="weather" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
		
			<br /><br />

			<h3>Current METAR: </h3>

			<br /><br />
			
			<h4>{{ report["Raw-Report"] }}</h4>
			
			<br /><br />
	
			<h3>TAF Taken At: {{ forecast.Time }}</h3>

			<br /><br />
			
			<h4>{{ forecast["Raw-Report"] }}</h4>
			
			<br /><br />
		
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" data-target="#report">Current Conditions</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" data-target="#">
						Forecast Conditions
						<i class="fa fa-chevron-circle-down" ></i>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="Forecast in forecast.Forecast | orderBy: 'Forecast.Start-Time' ">
							<a data-toggle="tab" data-target="#forecast{{ $index }}">{{ Forecast["Start-Time"]}} to {{ Forecast["End-Time"]}}</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="container tab-pane fade in active" id="report">
					<!-- Add Flight Rules here as well -->
					<div class="row justify-content-center">
						<div class="col-sm-4 weather-item rounded">
							<span>
								<i class="fa fa-clock-o"></i> <h4>Time</h4>
							</span>
							<p>{{ report.Time }}</p>
						</div>
						
						<div class="col-sm-4 weather-item rounded">
							<span>
								<i class="fa fa-clock-o"></i> <h4>Flight Rules</h4>
							</span>
							<p>{{ report["Flight-Rules"] }}</p>
						</div>
					</div>
					
					<div class="row justify-content-center">
						<div class="col-sm-8 weather-item rounded">
							<span>
								<i class="fa fa-cloud"></i> <h4>Clouds</h4>
							</span>
							<p>{{ report.Translations.Clouds }}</p>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-sm-2 weather-item rounded">
							<span>
								<i class="fa fa-binoculars"></i> <h4>Visibility</h4>
							</span>
							<p>{{ report.Translations.Visibility }}</p>
						</div>
						<div class="col-sm-4 weather-item rounded">
							<span>
								<i class="fa fa-flag-o"></i> <h4>Wind</h4>
							</span>
							<p>{{ report.Translations.Wind }}</p>
						</div>
						<div class="col-sm-2 weather-item rounded">
							<span>
								<i class="fa fa-exclamation"></i> <h4>Other</h4>
							</span>
							<p>{{ report.Translations.Other }}</p>
						</div>
					</div>
					
					<div class="row justify-content-center">
						<div class="col-sm-3 weather-item rounded">
							<span>
								<i class="fa fa-thermometer-three-quarters"></i> <h4>Temperature</h4>
							</span>
							<p>{{ report.Translations.Temperature }}</p>
						</div>
						<div class="col-sm-3 weather-item rounded">
							<span>
								<i class="fa fa-thermometer-full"></i> <h4>Dewpoint</h4>
							</span>
							<p>{{ report.Translations.Dewpoint }}</p>
						</div>
						<div class="col-sm-2 weather-item rounded">
							<span>
								<i class="fa fa-thermometer-full"></i> <h4>Altimeter</h4>
							</span>
							<p>{{ report.Translations.Altimeter }}</p>
						</div>
					</div>
				</div>
				
				<div ng-repeat="Forecast in forecast.Translations.Forecast" class="container tab-pane fade in" id="forecast{{ $index }}">
					<div class="row justify-content-center">
						<div class="col-sm-8 weather-item rounded">
							<span>
								<i class="fa fa-clock-o"></i> <h4>Time</h4>
							</span>
							<p>From {{ Forecast["Start-Time"]}} to {{ Forecast["End-Time"]}}</p>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-sm-8 weather-item rounded">
							<span>
								<i class="fa fa-cloud"></i> <h4>Clouds</h4>
							</span>
							<p>{{ Forecast.Clouds }}</p>
						</div>
					</div>

					<div class="row justify-content-center">
						<div class="col-sm-3 weather-item rounded">
							<span>
								<i class="fa fa-binoculars"></i> <h4>Visibility</h4>
							</span>
							<p>{{ Forecast.Visibility }}</p>
						</div>
						<div class="col-sm-3 weather-item rounded">
							<span>
								<i class="fa fa-flag-o"></i> <h4>Wind</h4>
							</span>
							<p>{{ Forecast.Wind }}</p>
						</div>
						<div class="col-sm-2 weather-item rounded">
							<span>
								<i class="fa fa-exclamation"></i> <h4>Other</h4>
							</span>
							<p>{{ Forecast.Other }}</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>

<!-- Charts Section -->
<section id="charts" class="container content-section text-center">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2" ng-if="!charts">
			<h2>Instrument Approach Procedures</h2>

			<div class="alert alert-warning">
				<p>No charts and instrument approaches found for {{ airport.icaoCode }}!</p>
			</div>
		</div>

		<div class="col-lg-8 col-lg-offset-2" ng-if="charts">
			<h2>Instrument Approach Procedures</h2>

			<p>{{ charts.size() }} charts and instrument approaches are available for {{ airport.icaoCode }}</p>
			
			<div class="alert alert-warning">
				<p>Warning - Not for real life navigation!</p>
			</div>

			<ul class="list-inline banner-social-buttons">
				<!-- ng-repeat="chart in charts" -->
				<li>
					<a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
				</li>
				<li>
					<a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
				</li>
				<li>
					<a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
				</li>
			</ul>
		</div>
	</div>
</section>

<!-- Map Section -->
<div id="map"></div>