<div class="container">
	<h2>Information for {{ selectedAirport.airportName }} ({{ selectedAirport.icaoCode }})</h2>
	
	<br />
	<a href="#">Home
	
	<br /><br />
	<table>
		<tr>
			<td>City:</td>
			<td>{{ selectedAirport.city }}</td>
		</tr>
		<tr>
			<td>Country:</td>
			<td>{{ selectedAirport.country }}</td>
		</tr>
		<tr>
			<td>Lattitude:</td>
			<td>{{ selectedAirport.lattitude }}</td>
		</tr>
		<tr>
			<td>Longitude:</td>
			<td>{{ selectedAirport.longitude }}</td>
		</tr>
		<tr>
			<td>Longitude:</td>
			<td>{{ selectedAirport.longitude }}</td>
		</tr>
		<tr>
			<td>Altitude:</td>
			<td>{{ selectedAirport.altitude }}</td>
		</tr>
	</table>
	
	<br /><br />

	<table>
		<tr>
			<td>Time:</td>
			<td>{{ report.time }}</td>
		</tr>
		<tr>
			<td>Flight Rules:</td>
			<td>{{ report.flightRules }}</td>
		</tr>
		<tr>
			<td>Wind:</td>
			<td>{{ report.translations.Wind }}</td>
		</tr>
		<tr>
			<td>Clouds:</td>
			<td>{{ report.translations.Clouds }}</td>
		</tr>
		<tr>
			<td>Temperature:</td>
			<td>{{ report.translations.Temperature }}</td>
		</tr>
		<tr>
			<td>Dewpoint:</td>
			<td>{{ report.translations.Dewpoint }}</td>
		</tr>
		<tr>
			<td>Visibility:</td>
			<td>{{ report.translations.Visibility }}</td>
		</tr>
		<tr>
			<td>Other:</td>
			<td>{{ report.translations.Other }}</td>
		</tr>
	</table>

	<br /><br />

	<table>
		<tr>
			<td>Forecast Taken At:</td>
			<td>{{ forecast.time }}</td>
		</tr>
	</table>
	<table ng-repeat="forecastEntry in forecast.forecast | orderBy forecastEntry.startTime ">
		<tr>
			<td>From:</td>
			<td>{{ forecastEntry.fromTime }}</td>
		</tr>
		<tr>
			<td>To:</td>
			<td>{{ forecastEntry.toTime }}</td>
		</tr>
		<tr>
			<td>Flight Rules:</td>
			<td>{{ forecastEntry.flightRules }}</td>
		</tr>
		<tr>
			<td>From:</td>
			<td>{{ forecastEntry.summary }}</td>
		</tr>
	</table>
</div>