<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
				Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand page-scroll" ng-href="#/search">
				<i class="fa fa-plane"></i> <span class="light">Angular Airports</span>
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
			<ul class="nav navbar-nav">
				<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
				<li class="hidden">
					<a data-target="#page-top" ng-click="scrollTo('page-top');"></a>
				</li>
				<li>
					<a class="page-scroll" data-target="#details" ng-click="scrollTo('details');">Details</a>
				</li>
				<li>
					<a class="page-scroll" data-target="#weather" ng-click="scrollTo('weather');">Weather</a>
				</li>
				<li>
					<a class="page-scroll" data-target="#charts" ng-click="scrollTo('charts');">Charts</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<!-- Intro Header -->
<header class="intro">
	<div class="intro-body">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<h4 class="brand-heading">{{ selectedAirport.airportName }}</h4>
					<p class="intro-text">Located in {{ selectedAirport.city }}, {{ selectedAirport.country }}</p>
					<a data-target="#details" class="btn btn-circle page-scroll" ng-click="scrollTo('details');">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<!-- Details Section -->
<section id="details" class="container content-section text-center">
	<div class="col-md">
		<p>Airport details go here</p>
		
		<!-- Perhaps a map as well -->
		<div id="map"></div>
	</div>
	
	<hr />
</section>

<!-- Weather Section -->
<section id="weather" class="container content-section text-center">
	<h2>Weather Conditions for {{ selectedAirport.airportName }}</h2>
	
	<div class="row">
		<div class="col" ng-if="!report && !forecast">
			<div class="alert alert-warning">
				<p>No weather data available for {{ selectedAirport.icaoCode }}!</p>
			</div>
		</div>		
		<div class="col" ng-if="report && forecast">
			<div class="row justify-content-center">
				<div class="col-lg weather-item rounded">
					<h4>Current METAR</h4>
					<p>{{ report["Raw-Report"] }}</p>
				</div>

				<div class="col-lg weather-item rounded">
					<h4>TAF Taken At {{ forecast.Time }}</h4>
					<p>{{ forecast["Raw-Report"] }}</p>
				</div>
			</div>
			
			<br/>
			
			<!-- Tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" data-target="#report">Current Conditions</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" data-target="#">
						Forecast Conditions
						<i class="fa fa-chevron-circle-down" ></i>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="Forecast in forecast.Forecast | orderBy: 'Forecast.Start-Time' ">
							<a data-toggle="tab" data-target="#forecast{{ $index }}">{{ Forecast["Start-Time"]}} to {{ Forecast["End-Time"]}}</a>
						</li>
					</ul>
				</li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="container tab-pane fade in active" id="report">
					<!-- Add Flight Rules here as well -->
					<div class="row justify-content-center">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 weather-item rounded">
							<span>
								<i class="fa fa-clock-o"></i> Time
							</span>
							<p>{{ report.Time }}</p>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 weather-item rounded">
							<span>
								<i class="fa fa-clock-o"></i> Flight Rules
							</span>
							<p>{{ report["Flight-Rules"] }}</p>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 weather-item rounded">
							<span>
								<i class="fa fa-cloud"></i> Clouds
							</span>
							<p>{{ report.Translations.Clouds }}</p>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 weather-item rounded">
							<span>
								<i class="fa fa-binoculars"></i> Visibility
							</span>
							<p>{{ report.Translations.Visibility }}</p>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 weather-item rounded">
							<span>
								<i class="fa fa-flag-o"></i> Wind
							</span>
							<p>{{ report.Translations.Wind }}</p>
						</div>
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-6 weather-item rounded">
							<span>
								<i class="fa fa-exclamation"></i> Other
							</span>
							<p>{{ report.Translations.Other }}</p>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 weather-item rounded">
							<span>
								<i class="fa fa-thermometer-three-quarters"></i> Temperature
							</span>
							<p>{{ report.Translations.Temperature }}</p>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 weather-item rounded">
							<span>
								<i class="fa fa-thermometer-full"></i> Dewpoint
							</span>
							<p>{{ report.Translations.Dewpoint }}</p>
						</div>
						<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 weather-item rounded">
							<span>
								<i class="fa fa-thermometer-full"></i> Altimeter
							</span>
							<p>{{ report.Translations.Altimeter }}</p>
						</div>
					</div>
				</div>
				
				<div ng-repeat="Forecast in forecast.Translations.Forecast" class="container tab-pane fade" id="forecast{{ $index }}">
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-4 col-sm-6 weather-item rounded">
							<span>
								<i class="fa fa-clock-o"></i> Time
							</span>
							<p>From {{ Forecast["Start-Time"]}} to {{ Forecast["End-Time"]}}</p>
						</div>
						<div class="col-lg-4 col-md-6 col-sm-6 weather-item rounded">
							<span>
								<i class="fa fa-cloud"></i> Clouds
							</span>
							<p>{{ Forecast.Clouds }}</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 weather-item rounded">
							<span>
								<i class="fa fa-binoculars"></i> Visibility
							</span>
							<p>{{ Forecast.Visibility }}</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 weather-item rounded">
							<span>
								<i class="fa fa-flag-o"></i> Wind
							</span>
							<p>{{ Forecast.Wind }}</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 weather-item rounded">
							<span>
								<i class="fa fa-exclamation"></i> Other
							</span>
							<p>{{ Forecast.Other }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<hr />
</section>

<!-- Charts Section -->
<section id="charts" class="container content-section text-center">
	<h2>Navigational Charts for {{ selectedAirport.icaoCode }}</h2>
	<div class="row">
		<div class="col" ng-if="!charts">
			<div class="alert alert-warning">
				<p>No charts found for {{ selectedAirport.icaoCode }}!</p>
			</div>
		</div>

		<div class="col" ng-if="charts">
			<p>{{ charts.General.length }} general and {{ charts.Approach.length }} instrument approach charts are available </p>

			<div class="alert alert-warning">
				<p>Warning - Not for real life navigation!</p>
			</div>			
			
			<!-- Tabs -->
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" data-target="#general">General</a></li>
				<li><a data-toggle="tab" data-target="#approach">Approach</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div class="container tab-pane fade in active" id="general">
					<div class="row justify-content-center">
						<div ng-repeat="chart in charts['General']" class="col-lg-3 col-md-4 col-sm-6 search-item">
							<a class="btn btn-default btn-lg" href="{{ chart.proxy }}"><span class="network-name">{{ chart.chartname }}</span></a>
						</div>
					</div>
				</div>

				<div class="container tab-pane fade" id="approach">
					<div class="row justify-content-center">
						<div ng-repeat="chart in charts['Approach']" class="col-lg-3 col-md-4 col-sm-6 search-item">
							<a class="btn btn-default btn-lg" href="{{ chart.proxy }}"><span class="network-name">{{ chart.chartname }}</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<hr />
</section>