<div class="container">
	<h2>View 3</h2>
	
	Country or City Name: 
	<br />
	<input type="text" ng-model="query"/>
	
	<br />
	<button name="Submit" ng-click="getAirports()">Search</button>
	
	<br />
	
	<table>
		<th>
			<td>City</td>
			<td>Country</td>
			<td>Airport Name</td>
			<td>ICAO Code</td>
		</th>
		<tr ng-repeat="airport in airports | orderBy:'airportName'">
			<td>{{ airport.city }}</td>
			<td>{{ airport.country }}</td>
			<td>{{ airport.airportName }}</td>
			<td>{{ airport.icaoCode }}</td>
		</tr>
	</table>
	<ul>
		<li ng-repeat="airport in airports | orderBy:'airportName'">{{airport.city}}, {{airport.country}} - {{airport.airportName}} ({{airport.icaoCode}})</li>
	</ul>
	
	<br />
	<a href="#/view2">View 1</a>
	<br />
	<a href="#/view2">View 2</a>
</div>