.weather-item > span {
	font-size: 1.7em;
	text-align: center;
}

.weather-item > span > i {
	padding-bottom: 10px;
}

.weather-item > p {
	font-variant: small-caps;
	font-size: 1.4em;
	font-weight: lighter;
	text-align: left;
}

.weather-item {
	padding: 2%;
	margin-top: 0.5%;
	
	background-color: rgba(44, 45, 44, 0.79);
	
	border: 5px solid;
	border-color: rgba(26, 31, 26, 0.84);
	
	height: 14em;
}

.nav-tabs, dropdown {
	font-family: sans-serif;
	font-variant: small-caps;
	font-size: large;
	
	border-color: rgba(56, 55, 55, 0.64);
	
	width: 104%;
}