.weather-item > span {
	font-size: 1.7em;
	text-align: center;
}

.weather-item > span > i {
	padding-bottom: 10px;
}

.weather-item > p {
	font-variant: small-caps;
	font-size: 1.4em;
	text-align: left;
}

.weather-item {
	padding: 3%;
	margin: 1%;
	
	background-color: rgba(57, 66, 56, 0.71);
	
	border: 5px solid;
	border-color: rgba(24, 31, 24, 0.61);
	
	height: 14em;
}